ENV =
SECRET_KEY =
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_HOST=

OPEN_API_KEY =

EMAIL_HOST_USER =
EMAIL_HOST_PASSWORD =


SEARCH_ENGINE_ID =
API_KEY =
MAX_TOKENS =
DEFAULT_GPT_MODEL =
